.scanCode {
  width: 400px;
  height: 400px;
}

page {
  background-color: #383c42;
}

.add {
  padding: 50px 0 0 0;
  width: 670px;
  margin: 0 auto;
}

.list {
  box-sizing: border-box;
  box-shadow: 0 0 0 0 rgba(25, 29, 33, 0.15);
  position: relative;
  width: 670px;
  margin: 40px auto 0;
  padding: 12px 0;
  background: #fff;
  border-radius: 12px;

  .item {
    border: 1px solid #F4F5F7;
    border-radius: 0;
  }
}

.ticket-apply {
  padding: 50px 0 0 0;
  width: 590px;
  margin: 0 auto;
}


