page {
  background-color: #383c42;
}

.at-list__item .item-extra {
  width: 500px;
}

  .main {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    box-shadow: 0 0 2px 0 rgba(25, 29, 33, 0.15);
    position: relative;
    width: 670px;
    margin: 40px auto 0;
    padding: 40px;
    background: #fff;
    border-radius: 12px;

    .avatar {
    }

    .info {
      padding: 10px 40px;
      margin: auto 0;
      justify-content: center;
      align-items: center;
      font-size: 32px;
    }
  }

  .ticket-apply {
    padding: 50px 0 0 0;
    width: 670px;
    margin: 0 auto;
  }

  .item-list {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 0 2px 0 rgba(25, 29, 33, 0.15);
    position: relative;
    width: 670px;
    margin: 40px auto 0;
    padding: 20px 0;
    background: #fff;
    border-radius: 12px;

    .item {
      //margin: 0 0 40px 0;
      border-radius: 12px;
    }

    .picker {
      display: flex;
      padding: 24px;
      font-size: 32px;

      .title {
        display: inline-block;
        width: 348px;
        margin-right: 40px;
      }

      .text {
        display: inline-block;
        color: #999;
        padding-right: 30px;

        -webkit-flex: 0 0 235px;
        -ms-flex: 0 0 235px;
        flex: 0 0 235px;
        -webkit-box-flex: 0;
        width: 235px;
        text-align: right;
      }
    }
  }



