page {
  background-color: #383c42;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .main {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    box-shadow: 0 0 2px 0 rgba(25, 29, 33, 0.15);
    position: relative;
    width: 670px;
    margin: 40px auto 0;
    padding: 40px;
    background: #fff;
    border-radius: 12px;

    .avatar {
    }

    .info {
      padding: 10px 40px;
      margin: auto 0;
      justify-content: center;
      align-items: center;
    }
  }

  .item-list {
    .item {

    }
  }
}


