.scanCode {
  width: 400px;
  height: 400px;
}

page {
  background-color: #383c42;
}


.ticket-list {
  box-sizing: border-box;
  box-shadow: 0 0 0 0 rgba(25, 29, 33, 0.15);
  position: relative;
  width: 670px;
  margin: 40px auto 0;
  padding: 0 20px;
  background: #fff;
  border-radius: 12px;

  .item {
    border-bottom: 2px solid #F4F5F7;
  }
}

.ticket-apply {
  padding: 50px 0 0 0;
  width: 670px;
  margin: 0 auto;
}


