page {
  background-color: #FFFFFF;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qrcode {
  width: 600px;
  height: 600px;
  margin: 0 auto 100px;
}
